:root {
	--gl_vr_indent: 3.2em;
	--color-text: #4800d4;
	--color-bg: #e8e8e8;
	--color-link: #ec1752;
	--color-link-hover: #eb1851;
	--color-info: #272526;
	--grid-item-bg: #f1f1f1;
	--color-close: #ec1752;
}

html {
	font: 400 10px/1.33 'Roboto';
}

body {
	font-size: 16px;

	background-color: var(--color-bg);
}

// wrapper
.wrapper {
}